@import "globals";

#shell_container{
  background-color: $shell_back;
  color: white;
  width: 980px;
  border:2px solid #ccc;
  border-radius: 5px;
  padding-left: 15px;
}
.console_error{
  color:red;
}
#shell_container input[type="text"], #shell_container input:focus{
  background-color: $shell_back;
  color: $cursor_color;
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: -2px 0 0;
  padding: 0;
  width:700px;
}
#shell_container #log_container{
  position:relative;
  height: 400px;
}
#shell_container #log{
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  bottom:0;
  width: 100%;

}

#shell_container pre{
  display: inline;
  padding: 0;
  background-color: $shell_back;
  color: white;
  margin: 0;
  border: 0;

}

.top_button{
  float: right;
  margin: 8px 5px 0px;
}

#cheat_menu{
  background: white;
  padding: 0 $cheat_menu_padding;
  z-index: 10;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $cheat_menu_width;
  border-right: 2px solid $dark_back;
}
#cheat_menu .inner{
  background: url(image-path('space-invader4.jpg')) repeat-y;
  background-position-x: 17px;
  bottom: 0;
  left: 0;
  top: 0;
  position: fixed;
  width: $cheat_menu_width;
  padding: 0 $cheat_menu_padding;
}
.instructions{
  background-color:#3c4c4d;
  width: 95%;
  padding: 0 10px;
}
.methods_text{
  color: white;
}

.success_message{
  color: #65ff59;
}

.subtitle_explanation{
  font-size: 18px;
  font-weight: bold;
}

.mini_title{
  font-size:14px;
  font-weight: bold;
}

.explanations_container{
  border: 3px solid black;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 15px;
}

#toggle{
  font-weight: normal;
  font-size: 14px;
}