@import "globals";

#shell_container{
  background-color: $shell_back;
  color: white;
  width: 980px;
  border:2px solid #ccc;
  border-radius: 5px;
  padding-left: 15px;
}
.console_error{
  color:red;
}
#shell_container input[type="text"], #shell_container input:focus{
  background-color: $shell_back;
  color: $cursor_color;
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: -2px 0 0;
  padding: 0;
  width:700px;
}
#shell_container #log_container{
  position:relative;
  height: 400px;
}
#shell_container #log{
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  bottom:0;
  width: 100%;

}

#shell_container pre{
  display: inline;
  padding: 0;
  background-color: $shell_back;
  color: white;
  margin: 0;
  border: 0;

}

.top_button{
  float: right;
  margin: 8px 5px 0px;
}

#cheat_menu{
  display: none;
  position: fixed;
  bottom: 0;
  background-color: red;
  left: 0;
  right: 0;
}
.instructions{
  background-color:#3c4c4d;
  width: 95%;
  padding: 0 10px;
}
.methods_text{
  color: white;
}

.success_message{
  color: #65ff59;
}

.subtitle_explanation{
  font-size: 18px;
  font-weight: bold;
}

.mini_title{
  font-size:14px;
  font-style: italic;
  font-weight: bold;
}

.explanations_container{
  border: 3px solid black;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 15px;
}


//.explanations_container{
//  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #eee), color-stop(0.25, #eee), color-stop(0.25, #fff), color-stop(0.5, #fff), color-stop(0.5, #eee), color-stop(0.75, #eee), color-stop(0.75, #fff));
//  background-image: -webkit-linear-gradient(left bottom, #eee 0%, #eee 25%, #fff 25%, #fff 50%, #eee 50%, #eee 75%, #fff 75%);
//  background-image: -moz-linear-gradient(left bottom, #eee 0%, #eee 25%, #fff 25%, #fff 50%, #eee 50%, #eee 75%, #fff 75%);
//  background-image: -ms-linear-gradient(left bottom, #eee 0%, #eee 25%, #fff 25%, #fff 50%, #eee 50%, #eee 75%, #fff 75%);
//  background-image: -o-linear-gradient(left bottom, #eee 0%, #eee 25%, #fff 25%, #fff 50%, #eee 50%, #eee 75%, #fff 75%);
//background-image: linear-gradient(left bottom, #eee 0%, #eee 25%, #fff 25%, #fff 50%, #eee 50%, #eee 75%, #fff 75%);
//background-size: 30px 30px;
//  }